{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                <option disabled selected value="">Symbol</option>
                {% for member in list %}
                    <option value="{{ member["symbol"] }}">{{ member["symbol"] }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" name="shares" placeholder="Shares" type ="number">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
